name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build release distributions
        run: |
          # NOTE: put your own distribution build steps here.
          python -m pip install build
          python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
          body: |
            # Installation
            ## pip
            ```bash
            # AWS optional dependency
            pip install "https://github.com/iCHEF/pychef/releases/download/${{ github.ref_name }}/pychef-${{ github.ref_name }}.tar.gz[aws]"
            ```
            ## uv
            ```bash
            # AWS optional dependency
            uv pip install "https://github.com/iCHEF/pychef/releases/download/${{ github.ref_name }}/pychef-${{ github.ref_name }}.tar.gz[aws]"
            ```
            ## requirements.txt
            ```bash
            # AWS optional dependency
            https://github.com/iCHEF/pychef/releases/download/${{ github.ref_name }}/pychef-${{ github.ref_name }}.tar.gz[aws]
            ```
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
